*{
    margin: 0;
    padding: 0;
}

body{
    background-color: lightskyblue;
}

form{
    width: 50vw;
    margin-top: 15vh;
    margin-left: 25vw;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    background-color: white;
}

.field{
    width: 30vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
}

label{
    font-weight: 500;
}

input, textarea{
    border: 2px solid lightskyblue;
    border-radius: 10px;
    width: 20vw;
    padding-left: 10px;
    font-size: 15px;
    height: 30px;
}
textarea{
    height: 10vh;
}

button{
    background-color: lightskyblue;
    height: 30px;
    width: 70px;
    border-radius: 10px;
}
button:hover{
    background-color: black;
    cursor: pointer;
    color: white;
    border: 3px solid lightskyblue;
}