@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #befbff;
  font-family: "Lexend";
}

nav {
  height: 14vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  border-bottom: 3px solid #00bd94;
}
#logo {
  width: 7.5vw;
}

button {
  background-color: white;
  width: 5vw;
  height: 5vh;
  border-radius: 1vw;
  border: 1px solid black;
}
button:hover{
  cursor: pointer;
  transform: scale(1.1);
}

h2 {
  color: #00879d;
}

.container {
  display: flex;
  flex-direction: column;
}
.intro {
  width: 50vw;
  height: 20vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bio {
  width: 50vw;
  height: 40vh;
  background-color: #00bd94;
  margin: 1vh auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1vw;
}
.bio img {
  width: 14vw;
  border-radius: 50%;
}
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-evenly;
}
